<% layout('layout') %>
<script>
    if(window.location.pathname == "/home"){
        document.write(`<div><h1>為您推薦</h1></div><br>`);
    }
    else if(window.location.pathname == "/history"){
        document.write(`<div class="clear-history"><i class="fa-solid fa-trash-can"></i>清除所有播放紀錄</div><br>`)
    }
</script>
<div class="musicList">
    <% for(var i = 0; i < song.length; i++){ %>
        <div class="musicBlock" id="<%= song[i].filelink %>">
            <div class="musicCover">
                <i class="fa-solid fa-circle-play fa-2xl"></i>
                <img src="/static/images/<%= song[i].cover_img %>.png" alt="" class="imgs">
            </div>
            <div class="musicInfo">
                <div class="musicName">
                    <%= song[i].songname %>
                </div>
                <div class="musicSinger">
                    <%= song[i].singername %>
                </div>
                <div class="musicAbout">
                    <div class="musicType">
                        類型 : <%= song[i].music_types %>
                    </div>
                    <div class="musicLanguage">
                        語言 : <%= song[i].music_languages %>
                    </div>
                    <div class="musicPlaytime">
                        播放次數 : <%= song[i].playtime %>
                    </div>
                </div>
            </div>
            <div class="functionBar">
                <div class="store-button">
                    <i class="fa-solid fa-folder-plus">儲存</i>
                </div>
                <div class="confirm-form">
                    <form>
                        <label for="list">儲存至...</label>
                        <input type="text" id="store-list">
                        <button type="submit" class="submit-btn">submit</button>
                    </form>
                </div>
            </div>
        </div>
    <% } %>
</div>